importFrom("graphics",
           "axis", "image", "par", "text")
importFrom("utils",
           "capture.output", "read.table", "type.convert",
           "Sweave", "browseURL")

importFrom("textutils",
           "trim")

export(
    "TODO",
    "build_pkg",
    "char2num",
    "header",
    "here",
    "latest_version",
    "make_tex",
    "map01",
    "nth",
    "pdf2txt",
    "qrequire",
    "ss2csv",
    "xy_text")
