importFrom("graphics",
           "axis", "image", "par", "text")

importFrom("utils",
           "capture.output", "read.table", "type.convert",
           "Sweave", "browseURL", "askYesNo")

importFrom("stats", "runif")

importFrom("tools",
           "Rcmd")

importFrom("zoo",
           "coredata")

importFrom("datetimeutils",
           "guess_datetime")

importFrom("textutils",
           "trim",
           "here",
           "fill_in")

importFrom("crayon",
           "green",
           "red",
           "yellow")

export(
    "TODO",
    "backup_filename",
    "char2num",
    "clean_dir",
    "clean_ltx",
    "create_backup",
    "extract_backup",
    "fetch_git_info",
    "find_git",
    "flatten",
    "git_bundle_clone",
    "git_bundle_create",
    "git_bundle_pull",
    "header",
    "latest_version",
    "make_tex",
    "map01",
    "matrix_image",
    "nth",
    "old_files",
    "path8.3",
    "pdf2txt",
    "pkg_build",
    "pkg_clean",
    "qrequire",
    "search_files",
    "short_fn",
    "ss2csv",
    "xy_text",
    "zoo2array")
