importFrom("graphics",
           "axis", "image", "par", "text")

importFrom("utils",
           "capture.output", "read.table", "type.convert",
           "Sweave", "browseURL", "askYesNo")

importFrom("stats", "runif")

importFrom("tools",
           "Rcmd")

importFrom("zoo",
           "coredata")

importFrom("textutils",
           "trim",
           "here",
           "fill_in")

importFrom("crayon",
           "green",
           "red",
           "yellow")

export(
    "TODO",
    "char2num",
    "create_backup",
    "extract_backup",
    "flatten",
    "git_bundle_clone",
    "git_bundle_create",
    "git_bundle_pull",
    "header",
    "insert",
    "latest_version",
    "make_tex",
    "map01",
    "matrix_image",
    "nth",
    "old_files",
    "pdf2txt",
    "pkg_build",
    "pkg_clean",
    "qrequire",
    "search_files",
    "short_fn",
    "ss2csv",
    "xy_text",
    "zoo2array")
